body {
  background-color: rgb(202, 255, 226);
}
div {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 10px;
  background-color: rgb(221, 255, 236);
  padding: 16px;
  box-shadow: 4px 5px 20px rgb(195, 195, 195);
  border-radius: 13px;
}

a {
  padding: 6px;
  background-color: rgb(41, 209, 41);
  border: 1px solid rgb(41, 209, 41);
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: 0.2s;
}
a:hover {
  background-color: white;
  color: rgb(41, 209, 41);
  transition-duration: 0.2s;
}
